# Build folder output
build
dist

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist/Release

# Dependency directories
node_modules

# Editor
.idea
.vscode

# NPM
.npm

# Yarn 2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnclean
yarn-error.log
.yarn/cache/@nx-nx-darwin-arm64-**/**
.yarn/cache/@nx-nx-linux-arm64-**/**
.yarn/cache/fsevents-patch-**/**

.DS_Store
